body{
    background-color: #2c2c2c;
}
img{
    width: 180px;
    
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main{
    padding: 200px;
}
.item{
    padding: 1px;
}

/* main content */

.list{
    transform-style: preserve-3d;
    transform:perspective(1000px);
}
.list .item{
    transition: .5s;
    filter:brightness(0.1);
}
.list .item:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}
/* ( * ) isme star ka matlab item hai  */
.list .item:hover + *{
    filter:brightness(0.6);
    transform: translateZ(150px) rotateY(35deg);
}
.list .item:hover + * + *{
    filter:brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}
.list .item:hover + * + * + *{
    filter:brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);
 
}
.list .item:has(+ *:hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-35deg);
}
.list .item:has(+ * + *:hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
}
.list .item:has(+ * + * + *:hover){
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
}